<div class="container">

<div class="pull-right">
  <%= link_to("ORID", new_orid_path, :class => "btn btn-danger") %>
</div>

<table class="table tabel-bordered">
  <thead>
    <tr>

      <th>标题</th>
      <th>状态</th>
      <th>创建人</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "personal" %>
  </tbody>
</table>

</div>


</div>
