<div class="jumbotron">
<h2 class="text-center">时间的朋友<br><small>把琐碎的时间堆砌成一个伟大的生命。</small></h2>
<div class="menu">
<i class="fa fa-home" aria-hidden="true">首页</i>
<i class="fa fa-clock-o" aria-hidden="true">时间轴</i>

<i class="fa fa-th-list" aria-hidden="true">分类</i>
<i class="fa fa-thumb-tack" aria-hidden="true">标签</i>
<i class="fa fa-clock-o" aria-hidden="true">关于本站</i>
</div>
</div>
