<div class="jumbotron">
<h2 class="text-center">网站的成长记录<br><small>把琐碎的时间堆砌成一个伟大的生命。</small></h2>
<div class="menu">
<i class="fa fa-home" aria-hidden="true">首页</i>
<i class="fa fa-clock-o" aria-hidden="true">时间轴</i>

<i class="fa fa-th-list" aria-hidden="true">分类</i>
<i class="fa fa-thumb-tack" aria-hidden="true">标签</i>
<i class="fa fa-clock-o" aria-hidden="true">关于本站</i>
</div>
</div>
<div class="col-md-10 col-md-offset-1">
 <%= form_for Feedback.new, :remote => true do |f| %>
   <div class="form-group">
     <%= f.text_area :content, :class => "form-control" %>
   </div>
   <div class="form-group">
     <%= f.submit :class => "btn btn-primary" %>
   </div>
 <% end %>
<div id="feedback-list">
  <% @feedbacks.each do |feedback| %>

<%= render :partial => "feedback", :locals => { :feedback => feedback } %>

  <% end %>
  </div>
</div>
