<div class="col-md-10">
  <h2 class="text-center">我的ORID</h2>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>标题</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @orids.each do |orid| %>
      <tr>
        <td>#</td>
        <td><%= link_to(orid.title, orid_path(orid)) %></td>
        <td><%= orid.description %></td>
        <td><%= orid.posts.count %></td>
        <td><%= orid.updated_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
